---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Mateo Alvarez | Frontend Developer</title>
	</head>
	<body class="max-w-screen-xl mx-auto bg-slate-50">
    <slot />
	</body>
</html>